.form {
  display: grid;
  /* grid-template-columns: auto 1fr auto; */
  padding-bottom: 2em;
}

.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 150px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 0.5rem;
    align-items: center;
  }
  .input {
    margin-bottom: 0;
    outline: none;
  }
}

@media (max-width:400px){
  .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
}