.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 10px;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */ 
  display: -ms-flexbox; /*Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  background-color: rgb(244, 244, 244);

  margin-bottom: 30px;
}